<div class='div-table' id='leftmenu'>
  <div class="menu-item tr"><a href='/'>Orders</a></div>
  <div class="menu-item tr"><a href='/'>New Order</a></div>
  <div class="menu-item tr"><a href='/'>Inventory</a></div>
  <div class="menu-item tr"><a href='/'>Administration</a></div>
</div>
