<head>
  <!--Include the Socket.io real time library -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="../public/client.js"></script>
</head>

<%- include('header'); %>
<div id='container'>
  <div id='leftmenu'><%- include('leftmenu'); %></div>
  <div id='maincontent'>
    <div id="header-title-div">Order</div>
      <div>File Date: </div>
  </div>
</div>
<%- include('footer'); %>
