<head>
  <!--Include the Socket.io real time library -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="../public/client.js"></script>
</head>

<%- include('header'); %>
<div id='container'>
  <div id='leftmenu'><%- include('leftmenu'); %></div>
  <div id='maincontent'>
    <div id="header-title-div">Orders</div>
    <div class="table" id='ordersList'>
      <div class='row'>
        <div class='cell'><b>Name</b></div>
        <div class='cell'><b>Qty</b></div>
        <div class='cell'><b>Description</b></div>
      </div>
    </div>
  </div>
</div>
<%- include('footer'); %>
